<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/functions.js"></script>
</head>
<body>

<br/>

&nbsp; &nbsp; Project PUNYA

<br/> <br/>
<ul>
				<li><a href="/punya/donor/add" class="active">Add a new Donor</a></li>
				<li><a href="/punya/donor/show">List all Donors</a></li>
				<li><a href="/punya/book/add">Add a new Book</a></li>
				<li><a href="/punya/book/show">List all books</a></li>
				<li>Add a new Beneficiary</li>
				<li>Request for a Book</li>
				<li>List all Requests</li>
				<li>Fulfill a Request</li>
				
</ul>

</body>
</html>